
/* Layout */
body {margin: 0; padding: 0;}
#centrering {width: 900px; margin-right: auto; margin-left: auto;}
#sidhuvud {background-image: url(pics/Panorama.jpg); padding: 100px;}         /* Överst på sidan*/
#kolumn1 {float: left; width: 200px; background: #0776A0;} /* Menykolumnen */
#kolumn2 {float: left; width: 700px; background-image: url(pics/hav.jpg);background-repeat: repeat-y}  /* Innehållet */
#kolumn2 ul{list-style-type: none;}     /* Tar bort punkterna från listan*/
#sidfot {background: #226078; padding: 40px;}   /* Text längst ned på sidan*/




/* Typsnitt */
body { font-family: Verdana; font-size: 15px} /* De rubriker och text som inte är listade nedan får detta*/
li {font-family: Times; font-size: 14px;}   /* Typsnitt för olika texter och rubriker samt storlek och radavstånd */
p {font-family: Times; font-size: 14px; line-height: 15px;}
dd {font-family: Times; font-size: 14px; line-height: 15px;} /* line height är radavstånd*/
a {font-family: Verdana; font-style: italic; font-weight: 900; font-size: 14px;} /*Italic är kursiv, font weight för texten tjockare*/
h3 {font-family: Times; font-size: 25px;}
table {font-family: Verdana; font-size: 25px; background-image: url(pics/texture.jpg);color:#FFFFFF;}




/*Meny */
#meny{margin: 5; padding: 0; width: 19em; list-style-type: none; font-size: 100%; background: #38B2CE; border-bottom: 1px solid #996666;}
#meny a{ display: block; width: auto; height: 100%; padding-left: 0.25em; padding-top: 0.25em; padding-bottom: 1em; text-decoration: none;
border-top: 1px solid #226078; border-right: 1px solid #226078; border-left: 1px solid #226078;}
#meny ul{list-style-type: none;}    /* Tar bort punkterna i ul listan */
#meny a:link{color: #ffffff;}       /* Länkens färg */
#meny a:visited{color: #FFD673;}    /* Besökta länkfärgen */
#meny a:hover{background: #226078;} /* Bakgrundsfärgen menylänkten får när man håller musen över den */
#meny #current{background: #FFCC66; color: #000000;} /* Den aktiva länkens bakgrundsfärg */

/* Bilder */
h3 :before {content: url(pics/LogoWebb.png)}
#LoremIpsum {float: left; width: 200px;}