
/* Layout */
body {margin: 0; padding: 0;}
#centrering {width: 900px; margin-right: auto; margin-left: auto;}
#sidhuvud {background: #226078; padding: 10px;}
#kolumn1 {float: left; width: 200px; background: #0776A0;}
#kolumn2 {float: left; width: 700px; background: #62B1D0;}
#sidfot, .push {background: #226078;}



/*Meny */
#meny{margin: 0; padding: 0; width: 18em; list-style-type: none; font-size: 70%; background: #38B2CE; border-bottom: 1px solid #996666;}

#meny a{ display: block; width: auto; height: 100%; padding-left: 0.25em; padding-top: 0.25em; padding-bottom: 1em; text-decoration: none;
border-top: 1px solid #226078; border-right: 1px solid #226078; border-left: 1px solid #226078;}
#meny ul{list-style-type: none;}
#meny a:link{color: #ffffff;}
#meny a:visited{color: #FFD673;}
#meny a:hover{background: #226078;}
#meny a:active{background:#226078;}
#meny #current{background: #FFCC66; color: #000000;}

